<div class="login">
  <form [formGroup]="formLogin" (ngSubmit)="entrar()">

    <fieldset>
      <label>E-mail *</label>
      <input type="email" formControlName="email">
      <span *ngIf="(formLogin.controls['email'].dirty || formLogin.controls['email'].touched) &&
        formLogin.controls['email'].errors?.['required']">Campo obrigatório</span>
    </fieldset>

    <fieldset>
      <label>Senha *</label>
      <input type="password" formControlName="senha">
      <span *ngIf="(formLogin.controls['senha'].dirty || formLogin.controls['senha'].touched) &&
        formLogin.controls['senha'].errors?.['required']">Campo obrigatório</span>
    </fieldset>

    <div class="botoes">
      <button
        type="submit"
        class="entrar"
        [disabled]="!formLogin.valid"
      >
        Entrar
      </button>
      <button type="button" class="esqueciSenha" (click)="esqueciSenha()">Esqueci a senha</button>
    </div>
  </form>
</div>
